@font-face {
    font-family: 'DINPro-Light';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Light'), url('../fonts/DINPro-Light tr.ttf') format('ttf');
}


@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Medium'), url('../fonts/DINPro-Medium tr.ttf') format('ttf');
}


@font-face {
    font-family: 'DINPro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Bold'), url('../fonts/DINPro-Bold tr.ttf') format('ttf');
}


@font-face {
    font-family: 'DINPro Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Black'), url('../fonts/DINPro-Black tr.ttf') format('ttf');
}



#header {
    width: 100%;

}

#header .topcontainer{
    background-color: #58c5f1;
    height:640px;
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
}

#header .logos{
    height:132px;
    padding-left:29px;
    padding-top:22px;
    text-align:center;
}

#header .logos .logo button{

    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #58c5f1;
    font-family: "DIN Pro";

}

#header .logos .logo img{

    margin-top:-10px;
    text-align:center;
}

#header  .body{
    background-color:#58c5f1;
    height:508px;
}


#header  .body  .body1-1{
    height:113px;
}


#header  .body  .body1-2{
    background-image: url(../img/home-img/Layer_2.png);
    height:395px;
    background-repeat: no-repeat;
}

#header  .body  .body3-1{
    height:60px;
}


#header  .body  .body2{
    background-image: url(../img/home-img/1-layers.png);
    height:458px;
    background-repeat: no-repeat;
    background-position:center;
    text-align:center;
    padding-top:317px;
}


#header  .body  .body2 button{
    font-family: "DIN Pro";
    font-size: 18px;
    color: #58c5f1;
    font-weight: 700;
    line-height: 47.86px;
    width: 220px;
    height: 52px;
    border-radius: 3px;
    background-color: #ffffff;
    text-align:center;
}

#header  .body  .body3{
    padding-right:0px;
}

#header  .body  .body3-2{
    background-image: url(../img/home-img/Layer_3.png);
    height:448px;
    background-repeat: no-repeat;
    background-position-x: right;
}




#discription  .middlecontainer  .discription .space{
    background-color: white;
    height:166px;
}

#discription  .middlecontainer  .discription .imgandcontent1{
    background-color: #f6f6f6;
    height:166px;
}

#discription  .middlecontainer  .discription .imgandcontent1  .img{
    width:100%;
}

.size1{
    font-size:30px;
    color:#58c5f1;
    line-height:62.86px;
    font-family: "DIN Pro - Black";
    font-weight: 400;
    margin-bottom:0px;
}

.size2{
    font-size:18px;
    color: #b2b2b2;
    font-family: "DIN Pro";
    font-weight: 500;
}

.redplane{
    height: 201px;
    background-color: #ef5570;
    background-position: center;
    background-image: url(../img/home-img/Halo_Market_Logo_-_White-01_copy_2.png);
    background-repeat: no-repeat;
    background-position-y: 18px;
}

.size3{



}


.size3 p{
    padding-top:83px;
    text-align:center;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 43px;
    font-weight: 500;
    line-height: 47.77px;
}


.btn3{
    padding-top:83px;
    text-align:center;
}

.redplane button{
    width: 251px;
    height: 61px;
    border-radius: 3px;
    color: #ef5570;
    font-family: "DIN Pro";
    font-size: 21px;
    font-weight: 700;
    line-height: 53.86px;
}


.blueplane   .blue{

    height: 401px;
    background-color: #58c5f1;
}


.blueplane   .blue p{
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 48px;
    font-weight: 500;
    line-height: 53.86px;
    padding-top:94px;
    padding-left:30px;
}


.blueplane   .blue button{
    width: 251px;
    height: 61px;
    border-radius: 3px;
    border: 3px solid #ffffff;
    background-color: #58c5f1;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 21px;
    font-weight: 700;
    line-height: 53.86px;
}


.blueplane   .blue  .btn4{
    padding-top:50px;
    padding-left:30px;
}

.blueplane  .broken-phone{
    background-image:url(../img/home-img/broken-phone.png);
}


.pro  .pro0  .pro1{
    height: 270px;
}

.pro  .pro0  .pro1  p{
    color: #58c5f1;
    font-family: "DIN Pro";
    font-size: 48px;
    font-weight: 500;

    padding-top:58px;
    padding-left:30px;
}


.pro  .pro0  .pro2  a{
    color: #787979;
    font-family: "DIN Pro";
    font-size: 70px;
    font-weight: 300;
    height:70px;

}





.pro  .fly{
    background-image:url(../img/home-img/fly.png);
    height:657px;
    background-repeat:no-repeat;
    background-position-y:35px;
}


.main-nav {
}

.main-nav, .main-nav * {
    margin: 0;
    padding:0;
    list-style: none;

}

.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav a {
    display: block;
    position: relative;
    color: white;


    font-size: 18px;
    font-family: "DIN Pro";
    text-transform: uppercase;
    font-weight: 200;
    padding-left:35px;
    padding-top:10px;

}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
    color: #1bb1dc;
    text-decoration: none
}



a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;
}
#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #fff;
    color: #787979;
    font-family: "DIN Pro";
    font-size: 30px;
    font-weight: 300;
    /*border: 1px solid #ececec;*/
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    border-bottom:2px solid gray;
    padding-left:60px;
}
#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #676767;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: url(../img/home-img/icons8-plus-96_copy_2.png);
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #f81ac1;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(0deg);
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    color: #676767;
    transform: rotate(0);
}
#accordion .panel-title a:after{
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body{
    padding: 0px 15px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
}


/*===============================================repair page1===============================================*/


.page1{
    height: 870px;
    background-color: #58c5f1;
}


#repair1  .rowone{
    height:120px;
}

#repair1  .rowone  .page1-1 {
    padding-top:35px;
    padding-left:35px;
}

#repair1  .rowone  .page1-2{
    text-align:center;
    padding-top:29px;
}


#repair1  .rowone  .page1-3 {
    padding-top:35px;
    padding-right:35px;
    text-align:right;
}

#repair1  .rowtwo{
    height:80px;
    text-align:center;
    padding-top:20px;
}


#repair1  .rowthree{

}

#repair1  .rowthree  .page1-4{
    padding-left:0px;
}


#repair1  .rowthree  .page1-4  .space{
    height:70px;
}
#repair1  .rowthree  .page1-6{
    padding-right:0px;
    text-align:right;
}

#repair1  .rowthree  .page1-5  .txt{
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 30px;
    font-weight: 300;
    text-align:center;
}


#repair1  .rowthree  .page1-5  .rowbtn{
    padding-top: 45px;
}

#repair1  .rowthree  .page1-5 button{
    width: 180px;
    height: 90px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align:center;
}

#repair1  .rowthree  .page1-5  .viewbtn button{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #58c5f1;
}

#repair1  .rowthree  .page1-5  .viewbtn{
    padding-top:70px;
    text-align:center;
}


/*============================================repair page2======================================*/

.page2{
    height: 870px;
    background-color: #58c5f1;
}


#repair2  .rowone{
    height:120px;
}

#repair2  .rowone  .page2-1 {
    padding-top:35px;
    padding-left:35px;
}

#repair2  .rowone  .page2-2{
    text-align:center;
    padding-top:29px;
}


#repair2  .rowone  .page2-3 {
    padding-top:35px;
    padding-right:35px;
    text-align:right;
}

#repair2  .rowtwo{
    height:80px;
    text-align:center;
    padding-top:20px;
}


#repair2  .rowthree{
}

#repair2  .rowthree  .page2-4{
    padding-left:0px;
}


#repair2  .rowthree  .page2-4  .space{
    height:70px;
}
#repair2  .rowthree  .page2-6{
    padding-right:0px;
    text-align:right;
}

#repair2  .rowthree  .page2-5  .txt{
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 30px;
    font-weight: 300;
    text-align:center;
}


#repair2  .rowthree  .page2-5  .rowbtn{
    padding-top: 54px;
    text-align:center;
    padding-left: 118px;
}

#repair2  .rowthree  .page2-5 button{
    width: 200px;
    height: 276px;
    border-radius: 5px;
    background-color: #ffffff;
    padding-left:0px;
}


#repair2  .rowthree  .page2-5  .rowbtn  .os{
    padding-right: 33px;
    text-align:center;
}

#repair2  .rowthree  .page2-5  .viewbtn button{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #58c5f1;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 16px;
    font-weight: 500;
}

#repair2  .rowthree  .page2-5  .viewbtn{
    padding-top:75px;
    text-align:center;
}


/*==========================================repair page3=======================================*/

.page3{
    height: 870px;
    background-color: #58c5f1;
}


#repair3  .rowone{
    height:120px;
}

#repair3  .rowone  .page3-1 {
    padding-top:35px;
    padding-left:35px;
}

#repair3  .rowone  .page3-2{
    text-align:center;
    padding-top:29px;
}


#repair3  .rowone  .page3-3 {
    padding-top:35px;
    padding-right:35px;
    text-align:right;
}

#repair3  .rowtwo{
    height:80px;
    text-align:center;
    padding-top:20px;
}


#repair3  .rowthree{

}

#repair3  .rowthree  .page3-4{
    padding-left:0px;
}


#repair3  .rowthree  .page3-4  .space{
    height:70px;
}
#repair3  .rowthree  .page3-6{
    padding-right:0px;
    text-align:right;
}

#repair3  .rowthree  .page3-5  .txt{
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 30px;
    font-weight: 300;
    text-align:center;
}


#repair3  .rowthree  .page3-5  .rowbtn{
    padding-top: 45px;
}

#repair3  .rowthree  .page3-5 button{
    width: 120px;
    height: 61px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align:center;

}


#repair3  .rowthree  .page3-5  .rowbtn  .os{
    padding-right:3px;
    padding-left:5px;
    text-align:center;
}

#repair3  .rowthree  .page3-5  .viewbtn button{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #58c5f1;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 16px;
    font-weight: 500;
}

#repair3  .rowthree  .page3-5  .viewbtn{
    padding-top:75px;
    text-align:center;
}



@media (min-width: 1281px){

    .container {
        max-width: 1281px;
    }
}